<html>
<head>
    @*<script src="~/bundles/vendor" type="text/javascript"></script>
    <script src="~/bundles/app" type="text/javascript"></script>
    <link href="~/bundles/styles" rel="stylesheet" />*@
    <script src="~/Scripts/vendor/angular/angular.js"></script>
    <script src="~/Scripts/vendor/acute.select/acute.select.js"></script>
    <script src="~/App/MainCtrl.js"></script>
    <link href="~/Scripts/vendor/acute.select/acute.select.css" rel="stylesheet" />
</head>   
<body>
    <h2>Index Page</h2>

    <div ng-app="app">
        <div ng-controller="mainCtrl">
            <h2>{{title}}</h2> <br/>
            <select class="ac-select stateList" ac-model="selectedState" ac-options="s.name for s in allStates"
                    ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }" ac-change="stateSelected(value)"></select>
        </div>
    </div>
</body>
</html>