<html>
<head>
    @*<script src="~/bundles/vendor" type="text/javascript"></script>
    <script src="~/bundles/app" type="text/javascript"></script>
    <link href="~/bundles/styles" rel="stylesheet" />*@
    <script src="~/Scripts/vendor/angular/angular.js"></script>
    <script src="~/Scripts/vendor/acute.select/acute.select.js"></script>
    <script src="~/App/MainCtrl.js"></script>
    <link href="~/Scripts/vendor/acute.select/acute.select.css" rel="stylesheet" />
</head>   
<body>
    <div ng-app="app">
        <div ng-controller="mainCtrl">
            <h2>{{title}}</h2> <br/>            
            <select class="ac-select stateList" ac-model="monthSelected" ac-options="month.name for month in getAllMonths()"
                    ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }" ac-change="monthSelected(value)" ac-placeholder="Select Month"></select>
        </div>
    </div>
</body>
</html>